.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.login-box {
  width: 320px;
  text-align: center;
}

.google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.google-btn img {
  width: 18px;
}

.google-btn:hover {
  background: #f0f0f0;
}

.google-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.terms {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
}

.link {
  color: purple;
}