

.gig-post {
  width: 100%;
  /*max-width: 420px;*/
  background: #fff;
  border-radius: 16px;
  padding: 14px;
  margin: 16px auto;
  box-shadow: 0 4px 14px rgba(0,0,0,0.06);
  position: relative; /* IMPORTANT FIX */
}

/* header */
.gig-post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gig-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.gig-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.gig-username {
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.gig-dm-icon {
  font-size: 18px;
  cursor: pointer;
  margin-left: 4px;
}

.gig-menu {
  font-size: 22px;
  cursor: pointer;
}

/* title */
.gig-title {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0;
}

/* swipe images */
.gig-media {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.gig-media::-webkit-scrollbar {
  display: none;
}

.gig-media-item {
  flex: 0 0 85%;
  scroll-snap-align: start;
}

.gig-media img {
  width: 100%;
  height: 200px;
  border-radius: 14px;
  object-fit: cover;
  background: #000;
}

/* footer */
.gig-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.label {
  font-size: 12px;
  color: #6b7280;
}

.value {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  position: relative;
  left:5;
}

/* MENU DROPDOWN */
.gig-menu-dropdown {
  position: absolute;
  right: 10px;
  top: 40px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 4px 0;
  z-index: 999;
  min-width: 140px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.gig-menu-dropdown div {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.gig-menu-dropdown div:hover {
  background: #f5f5f5;
}

/* Close button */
.gig-menu-close {
  font-size: 13px;
  color: #666;
  border-bottom: 1px solid #eee;
}

/* Delete */
.gig-delete {
  color: red;
  font-weight: bold;
}

/* DESCRIPTION POPUP */
.gig-desc-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

.gig-desc-box {
  background: white;
  padding: 15px;
  width: 320px;
  border-radius: 12px;
  position: relative;
}

.gig-desc-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 22px;
  cursor: pointer;
}

.create-at {
  color:grey;
  font-size:12px;
}