/* Button */
.review-btn {
  background: black;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 12px;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 15px;
  width: 90%;
  max-width: 420px;
  border-radius: 12px;
  max-height: 85vh;
  overflow-y: auto;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

/* HEADER */
.review-summary {
  margin-bottom: 10px;
}

.rating-overview {
  display: flex;
  align-items: center;
  gap: 8px;
}

.big-rating {
  font-size: 22px;
  font-weight: bold;
  color: #fbbf24;
}

.total-reviews {
  font-size: 13px;
  color: gray;
}

/* REVIEW LIST */
.review-card {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background: #fafafa;
}

.review-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.review-text {
  margin-top: 5px;
  font-size: 14px;
}

.stars {
  font-size: 13px;
  color: #fbbf24;
}

/* GIVE REVIEW */
.give-review {
  margin-top: 15px;
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.star-input span {
  font-size: 24px;
  cursor: pointer;
  opacity: 0.3;
  transition: 0.2s;
}

.star-input span.active {
  opacity: 1;
}

/* INPUT */
.review-input-area textarea {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* BUTTON */
.submit-btn {
  margin-top: 10px;
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background: #333;
}